body {
  font-size: 1vw;
  padding: 0;
  margin: 0;
  background-color: #abd8a8;
  font-size: 1.2vw;
}

p,
h1 {
  padding: 0;
  margin: 0;
}

/*space*/
#space_group {
  margin-bottom: 4vw;
}

/*⬇️雛形⬇️*/
/*icon_group*/
#icon_group {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  padding: 2vw;
  background-color: #abd8a8;
}

#icon {
  background-color: gray;
  width: 7vw;
  height: 3vw;
  border-radius: 0.5vw;
}

/*menu*/
#menu {
  font-size:1vw;
  padding: 1vw;
  background-color: #edaec4;
}

#menu_group {
  width: 50%;
  display: flex;
  margin-left: 50%;
  justify-content: space-evenly;
}

#menu a {
  color: black;
  text-decoration: none;
}

/*title*/
#title {
  background-color: #89a6d4;
  padding: 1.5vw 0 1.5vw 4vw;
}

#title h1 {
  font-size: 3vw;
  letter-spacing: 0.3vw;
}

/*⬇️要素⬇️*/
#schedule_group{
    margin: 0 auto;
    width:90%;
    border-radius:0.8vw;
    border:0.3vw solid #89a6d4;
    background-color:white;
}

#schedule {
  display: flex;
  width: 80%;
  margin:0 auto;
  background-color: white;
  padding: 2vw;
}

#background {
  background-color: #d9d9d9;
  padding: 4vw 0 4vw 0;
}

#left {
  width: 40%;
}

#ad_title {
  margin: 0 auto;
  width: 40%;
  text-align: center;
  background-color: #dfe488;
  padding: 0.8vw;
  border-radius: 3vw;
}

#right {
  width: 40%;
}

#event_title {
  margin: 0 auto;
  width: 40%;
  text-align: center;
  background-color: #be88e4;
  padding: 0.8vw;
  border-radius: 3vw;
}

#mid {
  margin-top: 6vw;
  display: flex;
  width: 20%;
}

#ad {
  display: flex;
  width: 30%;
}

#ad_1 {
  width: 50%;
}

/*ad1 line*/
#ad1_line {
  position: relative;
  margin: 0 auto;
  width: 0.2vw;
  height: 5vw;
  background-color: #a7b015;
  margin-top: 15vw;
  margin-bottom: 3vw;
}

/*ad1 dot*/
#ad1_dot1 {
  position: absolute;
  right: -0.4vw;

  border-radius: 3vw;
  margin: 0 auto;
  width: 1vw;
  height: 1vw;
  background-color: #a7b015;
}

#ad1_dot2 {
  position: absolute;
  right: -0.4vw;
  top: 5vw;

  border-radius: 3vw;
  margin: 0 auto;
  width: 1vw;
  height: 1vw;
  background-color: #a7b015;
}

#ad_2 {
  width: 50%;
}

/*ad2 line*/
#ad2_line {
  position: relative;
  margin: 0 auto;
  width: 0.2vw;
  height: 20vw;
  background-color: #a7b015;
  margin-bottom: 3vw;
}

/*ad2 dot*/
#ad2_dot1 {
  position: absolute;
  right: -0.4vw;

  border-radius: 3vw;
  margin: 0 auto;
  width: 1vw;
  height: 1vw;
  background-color: #a7b015;
}

#ad2_dot2 {
  position: absolute;
  right: -0.4vw;
  top: 20vw;

  border-radius: 3vw;
  margin: 0 auto;
  width: 1vw;
  height: 1vw;
  background-color: #a7b015;
}

#event {
  width: 30%;
}

/*event line*/
#event_line {
  position: relative;
  margin: 0 auto;
  width: 0.2vw;
  height: 40vw;
  background-color: #67487c;
  margin-bottom: 3vw;
}

/*event dot*/
#event_dot1 {
  position: absolute;
  right: -0.4vw;

  border-radius: 3vw;
  margin: 0 auto;
  width: 1vw;
  height: 1vw;
  background-color: #67487c;
}

#event_dot2 {
  position: absolute;
  right: -0.4vw;
  top: 10vw;

  border-radius: 3vw;
  margin: 0 auto;
  width: 1vw;
  height: 1vw;
  background-color: #67487c;
}

#event_dot3 {
  position: absolute;
  right: -0.4vw;
  top: 25vw;

  border-radius: 3vw;
  margin: 0 auto;
  width: 1vw;
  height: 1vw;
  background-color: #67487c;
}

#event_dot4 {
  position: absolute;
  right: -0.4vw;
  top: 30vw;

  border-radius: 3vw;
  margin: 0 auto;
  width: 1vw;
  height: 1vw;
  background-color: #67487c;
}

#event_dot5 {
  position: absolute;
  right: -0.4vw;
  top: 40vw;

  border-radius: 3vw;
  margin: 0 auto;
  width: 1vw;
  height: 1vw;
  background-color: #67487c;
}

#day {
  position: relative;
  width: 40%;
  text-align: center;
  margin-left:6%;
}

#day2 {
  margin-top: 8vw;
}

#day3 {
  margin-top: 3vw;
}

#day4 {
  margin-top: 3.5vw;
}

#day5 {
  margin-top: 2.8vw;
}

#day6 {
  margin-top: 3.4vw;
}

#day7 {
  margin-top: 8vw;
}

#ad_group {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3vw;
}

#ad_tag1 {
  margin-top: 2.8vw;
}

#ad_tag2 {
  margin-top: 12vw;
}

#event_group {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3vw;
}

#ev_tag1 {
  margin-top: 2.8vw;
}

#ev_tag2 {
  margin-top: 7.3vw;
}

#ev_tag3 {
  margin-top: 13vw;
}

#ev_tag4 {
  margin-top: 3vw;
}

#ev_tag5 {
  margin-top: 9vw;
}

#text{
    font-size:1vw;
    width:80%;
    padding:2vw;
    margin:0 auto;
}