body {
  font-size: 1vw;
  padding: 0;
  margin: 0;
  background-color: #abd8a8;
}

p,h2,
h1 {
  padding: 0;
  margin: 0;
}

/*事務所アイコン*/
#icon_nest{
  width:60%;
  display: flex;
  margin: 0 auto;
  justify-content: space-evenly;
  padding: 2vw;
  background-color: #abd8a8;
}
  #icon{
    background-color: gray;
    width: 7vw;
    height: 3vw;
    border-radius: 0.5vw;
  }

/*メニュー*/
#menu_nest {
  padding: 1vw;
  background-color: #edaec4;
}
  #menu_egg{
    width: 50%;
    display: flex;
    margin-left: 50%;
    justify-content: space-evenly;
  }
    a[for="menu"]{
    color: black;
    text-decoration: none;
  }

/*ページタイトル*/
#title_nest {
  background-color: #89a6d4;
  padding: 1.5vw 0 1.5vw 4vw;
}
  #title h1 {
    text-align: center;
    font-size: 3vw;
    letter-spacing: 0.3vw;
  }
ーーーーーーーーーーーーーー
/*space*/
#space_group {
  margin-bottom: 4vw;
}


/*🐣 BLOCK1 🐣*/
#block1_nest{
  background-color:#FFF6CA;
  padding:2vw;
}
/*スライダー*/
#slider{
  position:relative;
}
/*左右ボタン*/
.slider-buttons {
  position:absolute;
  width:100%;
  top:4.5vw;
  display: flex;
  justify-content: space-between;
}
.slider-buttons a {
  text-decoration: none;
  background-color: #333;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
}
.slider-frame {
  width: 90%;
  overflow: hidden;
  margin: 2rem auto;
  position: relative;
}
.slider-track {
  display: flex;
  transition: transform 0.5s ease;
}
/*スライダーアイテム*/
.slider-item {
  flex:0 0 20vw;
  height:12vw;
  column-gap: 1vw;
  background-color: #89A6D4;
  border-radius: 10px;
  margin:0.5vw;
  color: #fff;
  align-items: center;
  justify-content: center;
}
#team_title{
  display:flex;
  text-align:center;
  align-items: flex-start;
}
#left{
  width:50%;
}
#right{
  width:50%;
}
#team_title img{
  width:100%;
  height:auto;
  margin:0.6vw;
}
#point{
  padding:0.6vw;
  background-color:yellowgreen;
}
/*スライド用アンカー*/
.slider-anchor {
  display: none;
}
#slide1:target ~ .slider-frame .slider-track {
  transform: translateX(0);
}
#slide2:target ~ .slider-frame .slider-track {
  transform: translateX(-880px); /* 200px × 4 + margin左右 */
}
/*「ランキングを見る」ボタン*/
#button_ranking{
  margin:0 auto;
  text-align: center;
  width:20%;
  background-color:#F9E061;
  border-radius:5vw;
  padding:0.5vw;
  margin-top:2vw;
  margin-bottom:2vw;
}
a[for="button"]{
  text-decoration: none;
  color:white;
}


/*🐣　BLOCK2　🐣*/
#block2_nest{
  padding:2vw 0 2vw 0;
  background-color:#F4D7E1;
}
#block2_nest h2{
  font-size:2vw;
  letter-spacing: 0.3vw;
  text-align: center;
}
/*team 横2つの要素*/
#team_yolk{
  display:flex;
  justify-content: center;
  margin:0 auto;
  column-gap: 10vw;
  padding:2vw;
}
#team_img{
  width:18vw;
  height:6vw;
  border-radius:0.5vw;
  background-color:gray;
}


/*🐣　BLOCK3 　🐣*/
#block3_nest{
  padding:2vw 0 2vw 0;
  background-color:#B5D9EA;
}
#block3_nest h2{
  font-size:2vw;
  letter-spacing: 0.3vw;
  text-align: center;
  margin-bottom:2vw;
}
#news_yolk{
  width:80%;
  padding:1.5vw;
  margin:0 auto;
  border-bottom:0.1vw solid black;
}
